mainmenu "Custom apps Menu"
source "Kconfig.zephyr"

menu "Application Options"
config GPIO_PIN_NUM
	int "GPIO pin number"
	default 0
	help
	  Total number of GPIO pins available on the board.

config GPIO_PORT_PIN_NUM 
	int "GPIO pin per port"
	default 0
	help
	  Number of GPIO pins per port.
endmenu
